NEXT_PUBLIC_FORECAST_URL='https://api.openweathermap.org/data/2.5/forecast/hourly'
NEXT_PUBLIC_LACATION_URL='https://api.locationiq.com/v1/autocomplete'
NEXT_PUBLIC_WEATHER_URL='https://api.openweathermap.org/data/2.5/weather'
NEXT_PUBLIC_APPID='07318e34fb59a790b30ba1a3caa8c851'
NEXT_PUBLIC_KEY='pk.a8e410d9b3f374d01522db250a0b3835'
NEXT_PUBLIC_WEATHER_IMAGE_URL='https://openweathermap.org/img/wn/<imageId>@4x.png'