@tailwind base;
@tailwind components;
@tailwind utilities;

body.dimmed-background {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
